<div class="container">
  <h1 class="text3">Background</h1>
  <p>
    I started coding in late 2015 and was immediately hooked. I really enjoy the combination of creativity and logic needed to solve problems and build things in the world of software and web development. In February 2016 I began a six-month coding bootcamp, focusing on full-stack development with mostly JavaScript-based technologies like Node.js and Angular. It was extremely challenging, a lot of fun, and served as a confirmation that this is what I want to spend my time doing. Near the end of the program I was accepted into Microsoft's LEAP internship program, which exposed me to the .NET Framework, Visual Studio, and backend data-processing on a large scale. Since then I've been taking online courses to improve my skills, and working on personal projects for fun.
  </p>
  <h1 class="text3">Resume</h1>
  <div class="resume">
    <h3 class="text2">Skills</h3>
    <section class="skills-col">
      <ul>
        <li>JavaScript</li>
        <li>Node.js</li>
        <li>Angular</li>
        <li>Express.js</li>
      </ul>
    </section>
    <section class="skills-col">
      <ul>
        <li>jQuery</li>
        <li>AJAX</li>
        <li>HTML, CSS</li>
        <li>SQL, PostgreSQL, Knex</li>
      </ul>
    </section>
    <section class="skills-col">
      <ul>
        <li>C#</li>
        <li>Object-oriented programming</li>
        <li>Agile workflow</li>
        <li>Pair programming</li>
      </ul>
    </section>
    <h3 class="text2">Experience</h3>
    <h4>Microsoft<span class="regular-text"> | <i>Software Development Intern</i> | Redmond, WA | June 2016 - October 2016</span></h4>
    <ul>
      <li>Utilized agile development to maintain and improve backend services for Xbox gaming telemetry</li>
      <li>Designed and implemented functional tests for high-throughput applications</li>
      <li>Streamlined a suite of learning materials for future interns and third-world programming academies</li>
      <li>Learned technologies such as C#, Azure Event Hubs, and Linux virtual machines</li>
    </ul>
    <h4>Galvanize<span class="regular-text"> | <i>Full-Stack Web Development Resident</i> | Seattle, WA | February 2016 - June 2016</span></h4>
    <ul>
      <li>
        Twitter Sentiment Analysis
        <ul>
          <li>Worked on a team of four to build and deploy an Express CRUD application</li>
          <li>Built RESTful routes using Knex to access PostgreSQL database and render HTML with
            Jade templates</li>
        </ul>
      </li>
      <li>
        <i>SommBuddy</i> Wine-Pairing Mobile Application
        <ul>
          <li>Worked on a team of four to design and build a mobile application for pairing wine with food</li>
          <li>Built a backend reverse proxy, calling wine.com API with request-promise, then restructuring before sending JSON response to client</li>
          <li>Implemented a web crawler to get image urls</li>
        </ul>
      </li>
      <li>
        Text Converter
        <ul>
          <li>Structured and styled a front-end application to convert text into synonyms</li>
          <li>Used AJAX to call thesaurus API, based on front-end word-parsing logic</li>
        </ul>
      </li>
      <li>
        Angular Shopping Cart
        <ul>
          <li>Used Angular to build front-end shopping cart application</li>
        </ul>
      </li>
    </ul>
    <h4>Wells Fargo<span class="regular-text"> | <i>Financial Analyst</i> | Spokane, WA and Seattle, WA | January 2013 - December 2015</span></h4>
    <ul>
      <li>Advised business clients on cash flow management, information reporting, and fraud protection</li>
      <li>Assisted two investment managers with portfolio allocation and rebalancing</li>
    </ul>
    <h4>Hypergiant Media<span class="regular-text"> | <i>Composer</i> | Seattle, WA | April 2011 - June 2012</span></h4>
    <ul>
      <li>Started a music publishing business focused on music for productions</li>
      <li>Composed music for advertisements, television, film, and various licensing opportunities</li>
    </ul>
    <h3 class="text2">Education</h3>
    <h4>University of Washington<span class="regular-text"> | Seattle, WA | Graduated December 2010</span></h4>
    <h4><span class="regular-text"><i>Bachelor of Arts in Business Administration, specializing in finance and economics</i></span></h4>
  </div>
</div>
