img {
  height: 250px;
}

.container {
  margin: auto;
  padding-bottom: 30px;
  margin-top: 50px;
}

.separator {
  height: 1px;
  width: 150px;
  border-bottom: 1px solid lightgray;
  margin: auto;
  margin-top: 2px;
  margin-bottom: 2px;
}

.display-detail {
  max-width: 90%;
  padding-bottom: 60px;
  border-bottom: 1px solid lightgray;
}

.display-detail > a > h1 {
  display: inline-block;
}

.github-repo-link {
  height: 35px;
  margin-left: 15px;
  position: relative;
  top: 8px;
}
