img {
  height: 250px;
}

.container {
  margin: auto;
  padding-bottom: 30px;
  margin-top: 50px;
}

.separator {
  height: 1px;
  width: 150px;
  border-bottom: 1px solid lightgray;
  margin: auto;
  margin-top: 2px;
  margin-bottom: 2px;
}

/*.github-repo-btn {
  position: relative;
  bottom: 5px;
  display: inline-block;
  padding: 7px;
  margin-left: 10px;
  color: #A63E14;
  letter-spacing: .5px;
  border: 2px solid #A63E14;
  background-color: blue;
  border-radius: 10px;
}*/

.display-detail > h1 {
  display: inline-block;
}

.github-repo-link {
  height: 35px;
  margin-left: 12px;
  position: relative;
  top: 8px;
}
