img {
  height: 20%;
  width: 20%;
}

.container {
  margin: auto;
  padding-bottom: 30px;
  margin-top: 50px;
}

.separator {
  height: 1px;
  width: 150px;
  border-bottom: 1px solid lightgray;
  margin: auto;
  margin-top: 2px;
  margin-bottom: 2px;
}
