<div class="left-panel">
  <div *ngFor="let project of projects" (click)="selectProject(project)" class="left-panel-tab">
    <h3>{{project.name}}</h3>
  </div>
</div>
<section class="project-section">
  <div class="project-detail">
    <h2>{{selectedProject.name}}</h2>
    <p>
      <strong>Description: </strong>{{selectedProject.description}}
    </p>
    <p>
      <strong>Technologies Used: </strong>{{selectedProject.technologies}}
    </p>
    <img src="{{selectedProject.screenshots[0]}}" alt="A screenshot of the {{selectedProject.name}} application" />
  </div>
</section>
