<section class="banner bg1">
  <div class="eye-logo"></div>
  <div class="banner-name">
    <a class="name" href="#">SPENCER SCARPELLI</a>
  </div>
  <div class="banner-nav">
    <nav>
      <a href="about">
        <div class="banner-nav-tab text3">ABOUT</div>
      </a>
      <a href="projects">
        <div class="banner-nav-tab text3">PROJECTS</div>
      </a>
      <a href="blog">
        <div class="banner-nav-tab text3">BLOG</div>
      </a>
    </nav>
  </div>
  <div class="external-links-container">
    <div class="svg-box">
      <a href="https://github.com/spencerscarpelli" target="_blank">
        <embed type="image/svg+xml" src="/assets/svg/github-logo.svg" width="40" height="40">
      </a>
    </div>
    <div class="svg-box">
      <a href="#">
        <embed type="image/svg+xml" src="/assets/svg/linkedin.svg" width="40" height="40">
      </a>
    </div>
  </div>
</section>
<section class="sub-banner bg3"></section>
<router-outlet></router-outlet>
<footer class="footer">
  <p>Copyright &copy; <span id="current-year"></span> Spencer Scarpelli</p>
  <p>
    GitHub logo formatted in SVG by <a href="http://www.flaticon.com/authors/dave-gandy" target="_blank" class="link">Dave Gandy</a> from Flaticon
  </p>
  <p>
    LinkedIn logo formatted in SVG by <a href="http://www.flaticon.com/authors/freepik" target="_blank" class="link">Freepik</a> from Flaticon
  </p>
</footer>
