.date {
  font-size: 15px;
  margin-bottom: 5px;
  color: #FBAE17;
}

.container {
  margin: auto;
  padding-bottom: 30px;
  margin-top: 50px;
}

.separator {
  height: 1px;
  width: 150px;
  border-bottom: 1px solid lightgray;
  margin: auto;
  margin-top: 2px;
  margin-bottom: 2px;
}

.blog-detail {
  margin-bottom: 50px;
  max-width: 70%;
}

.blog-detail > h1 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.s-logo {
  margin-top: 10px;
}
