* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
}

h4 {
  margin: .5%;
}

/*.left-panel {
  background-color: green;
}*/

.left-panel-tab:hover {
  cursor: pointer;
}

.banner {
  height: 70px;
  width: 100%;
  /*background-color: #290E00;*/
}

.eye-logo {
  background-image: url("/assets/images/eye-logo.png");
  position: absolute;
  /*outline: 3px solid blue;*/
  display: inline-block;
  height: 45px;
  width: 45px;
  margin-left: 20px;
  margin-top: 12px;
  border-radius: 5px;
}

.sub-banner {
  height: 10px;
  width: 100%;
  /*background-color: #00DF7F;*/
}

.banner-name {
  position: absolute;
  height: 80px;
  display: inline-block;
  color: white;
  font-size: 2rem;
  letter-spacing: 4px;
  line-height: 2.3;
  margin-left: 85px;
}

.name {
  font-family: "Catamaran", Helvetica, Arial, sans-serif;
}

.banner-nav {
  display: inline-block;
  margin-left: 40%;
}

.banner-nav-tab {
  height: 70px;
  width: 10rem;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  font-size: 1.5rem;
  /*color: #00DF7F;*/
  transition: background-color .1s ease;
  line-height: 5.2;
}

.banner-nav-tab:hover {
  background-color: #5A918D;
  color: #00335C;
}

.link, .link:hover, .link:visited {
  color: blue;
  text-decoration: underline;
}

.external-links-container {
  position: absolute;
  right: .7rem;
  height: 80px;
  margin-right: .7rem;
  display: inline-block;
  line-height: 6.5;
}

.svg-box {
  display: inline;
  margin: .7rem;
}

footer {
  width: 100%;
  margin-top: 40px;
  position: absolute;
  bottom: 20px;
  font-size: .7rem;
  text-align: center;
}

footer > p {
  line-height: 1.4;
}

.text1 {
  color: #558A86;
}

.text2 {
  color: #A63E14;
}

.text3 {
  color: #00223D;
}

.bg1 {
  background-color: #558A86;
}

.bg2 {
  background-color: #A63E14;
}

.bg3 {
  background-color: #00223D;
}
