* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html, body {
  height: 100%;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
}

h4 {
  margin: .5%;
}

.left-panel {
  position: absolute;
  width: 250px;
  display: inline-block;
  margin-left: 20px;
  padding-right: 3px;
  vertical-align: top;
  border-right: 1px solid lightgray;
}

.left-panel-tab {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  transition: background-color 0.1s ease;
  border-radius: 5px;
}

.left-panel-tab:hover {
  background-color: #FAFAFA;
}

.display-section {
  display: inline-block;
  margin-left: 323px;
  margin-right: 40px;
}

.display-detail > h1 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
}

.left-panel-tab > h3 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5px;
}

.left-panel-tab:hover {
  cursor: pointer;
}

.banner {
  height: 70px;
  width: 100%;
}

.eye-logo {
  background-image: url("/assets/images/eye-logo.png");
  position: absolute;
  display: inline-block;
  height: 45px;
  width: 45px;
  margin-left: 20px;
  margin-top: 12px;
  border-radius: 5px;
}

.sub-banner {
  height: 10px;
  width: 100%;
}

.banner-name {
  position: absolute;
  height: 80px;
  display: inline-block;
  color: white;
  letter-spacing: 4px;
  line-height: 2.1;
  margin-left: 85px;
}

.name {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.1rem;
}

.banner-nav {
  display: inline-block;
  margin-left: 40%;
}

.banner-nav-tab {
  height: 70px;
  width: 10rem;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  font-size: 1.5rem;
  transition: background-color .1s ease;
  line-height: 5.2;
}

.nav-pointer {
  position: relative;
  top: -54px;
  height: 5px;
  /*width: 10px;*/
  background-color: #558A86;
  margin: auto;
  /*transform: rotate(45deg);*/
}

.banner-nav-tab:hover {
  background-color: #5A918D;
  color: #00335C;
}

.link, .link:hover, .link:visited {
  color: blue;
  text-decoration: underline;
}

.external-links-container {
  position: absolute;
  right: .7rem;
  height: 80px;
  margin-right: .7rem;
  display: inline-block;
  line-height: 6.5;
}

.svg-box {
  display: inline;
  margin: .7rem;
}

footer {
  height: 45px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: .7rem;
  text-align: center;
}

footer > p {
  line-height: 1.4;
}

.text1 {
  color: #558A86;
}

.text2 {
  color: #A63E14;
}

.text3 {
  color: #00223D;
}

.bg1 {
  background-color: #558A86;
}

.bg2 {
  background-color: #A63E14;
}

.bg3 {
  background-color: #00223D;
}
