/* You can add global styles to this file, and also import other style files */

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

* {
  font-family: Verdana, sans-serif;
}

p {
  font-family: Times, serif;
}

h4 {
  margin: .5%;
}
